In [1]:
import pandas as pd
import numpy as np
import datetime

### Data Frame using a list

In [2]:
lst = ['Rishab', 'Sid', 'Piyush']
df = pd.DataFrame(lst)
df

        0
0  Rishab
1     Sid
2  Piyush

### Data Frame using a Dictionary

In [3]:
data = {'Name': ['Rishab', 'Sid', 'Piyush'],
        'Age': [16, 30, 20]}

df = pd.DataFrame(data)
df

     Name  Age
0  Rishab   16
1     Sid   30
2  Piyush   20

In [4]:
data = {
    "Name": ["John Doe", "Jane Smith", "David Johnson"],
    "Age": [30, 25, 35],
    "Skills": [["Python", "JavaScript"], ["Java", "C++"], ["SQL", "Data Analysis"]],
    "Qualification": ["Bachelor's Degree in Computer Science", "Master's Degree in Software Engineering", "Bachelor's Degree in Statistics"],
    "City": ["New York", "London", "San Francisco"]
}
df = pd.DataFrame(data)
df

,Name,Age,Skills,Qualification,City
0,John Doe,30,"[Python, JavaScript]",Bachelor's Degree in Computer Science,New York
1,Jane Smith,25,"[Java, C++]",Master's Degree in Software Engineering,London
2,David Johnson,35,"[SQL, Data Analysis]",Bachelor's Degree in Statistics,San Francisco

### Working with rows and columns

In [5]:
df[['Name', 'Qualification']]

            Name                            Qualification
0       John Doe    Bachelor's Degree in Computer Science
1     Jane Smith  Master's Degree in Software Engineering
2  David Johnson          Bachelor's Degree in Statistics

In [6]:
# Read data from CSV file as DataFrame
df = pd.read_csv('nba.csv')
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_dict = df.to_dict()
df_dict

{'Name': {0: 'Avery Bradley',
  1: 'Jae Crowder',
  2: 'John Holland',
  3: 'R.J. Hunter',
  4: 'Jonas Jerebko',
  5: 'Amir Johnson',
  6: 'Jordan Mickey',
  7: 'Kelly Olynyk',
  8: 'Terry Rozier',
  9: 'Marcus Smart',
  10: 'Jared Sullinger',
  11: 'Isaiah Thomas',
  12: 'Evan Turner',
  13: 'James Young',
  14: 'Tyler Zeller',
  15: 'Bojan Bogdanovic',
  16: 'Markel Brown',
  17: 'Wayne Ellington',
  18: 'Rondae Hollis-Jefferson',
  19: 'Jarrett Jack',
  20: 'Sergey Karasev',
  21: 'Sean Kilpatrick',
  22: 'Shane Larkin',
  23: 'Brook Lopez',
  24: 'Chris McCullough',
  25: 'Willie Reed',
  26: 'Thomas Robinson',
  27: 'Henry Sims',
  28: 'Donald Sloan',
  29: 'Thaddeus Young',
  30: 'Arron Afflalo',
  31: 'Lou Amundson',
  32: 'Thanasis Antetokounmpo',
  33: 'Carmelo Anthony',
  34: 'Jose Calderon',
  35: 'Cleanthony Early',
  36: 'Langston Galloway',
  37: 'Jerian Grant',
  38: 'Robin Lopez',
  39: "Kyle O'Quinn",
  40: 'Kristaps Porzingis',
  41: 'Kevin Seraphin',
  42: 'Lance Thomas',
  43: 'Sasha Vujacic',
  44: 'Derrick Williams',
  45: 'Tony Wroten',
  46: 'Elton Brand',
  47: 'Isaiah Canaan',
  48: 'Robert Covington',
  49: 'Joel Embiid',
  50: 'Jerami Grant',
  51: 'Richaun Holmes',
  52: 'Carl Landry',
  53: 'Kendall Marshall',
  54: 'T.J. McConnell',
  55: 'Nerlens Noel',
  56: 'Jahlil Okafor',
  57: 'Ish Smith',
  58: 'Nik Stauskas',
  59: 'Hollis Thompson',
  60: 'Christian Wood',
  61: 'Bismack Biyombo',
  62: 'Bruno Caboclo',
  63: 'DeMarre Carroll',
  64: 'DeMar DeRozan',
  65: 'James Johnson',
  66: 'Cory Joseph',
  67: 'Kyle Lowry',
  68: 'Lucas Nogueira',
  69: 'Patrick Patterson',
  70: 'Norman Powell',
  71: 'Terrence Ross',
  72: 'Luis Scola',
  73: 'Jason Thompson',
  74: 'Jonas Valanciunas',
  75: 'Delon Wright',
  76: 'Leandro Barbosa',
  77: 'Harrison Barnes',
  78: 'Andrew Bogut',
  79: 'Ian Clark',
  80: 'Stephen Curry',
  81: 'Festus Ezeli',
  82: 'Draymond Green',
  83: 'Andre Iguodala',
  84: 'Shaun Livingston',
  85: 'Kevon Looney',
  86: 'James Michael McAdoo',
  87: 'Brandon Rush',
  88: 'Marreese Speights',
  89: 'Klay Thompson',
  90: 'Anderson Varejao',
  91: 'Cole Aldrich',
  92: 'Jeff Ayres',
  93: 'Jamal Crawford',
  94: 'Branden Dawson',
  95: 'Jeff Green',
  96: 'Blake Griffin',
  97: 'Wesley Johnson',
  98: 'DeAndre Jordan',
  99: 'Luc Richard Mbah a Moute',
  100: 'Chris Paul',
  101: 'Paul Pierce',
  102: 'Pablo Prigioni',
  103: 'JJ Redick',
  104: 'Austin Rivers',
  105: 'C.J. Wilcox',
  106: 'Brandon Bass',
  107: 'Tarik Black',
  108: 'Anthony Brown',
  109: 'Kobe Bryant',
  110: 'Jordan Clarkson',
  111: 'Roy Hibbert',
  112: 'Marcelo Huertas',
  113: 'Ryan Kelly',
  114: 'Larry Nance Jr.',
  115: 'Julius Randle',
  116: "D'Angelo Russell",
  117: 'Robert Sacre',
  118: 'Louis Williams',
  119: 'Metta World Peace',
  120: 'Nick Young',
  121: 'Eric Bledsoe',
  122: 'Devin Booker',
  123: 'Chase Budinger',
  124: 'Tyson Chandler',
  125: 'Archie Goodwin',
  126: 'John Jenkins',
  127: 'Brandon Knight',
  128: 'Alex Len',
  129: 'Jon Leuer',
  130: 'Phil Pressey',
  131: 'Ronnie Price',
  132: 'Mirza Teletovic',
  133: 'P.J. Tucker',
  134: 'T.J. Warren',
  135: 'Alan Williams',
  136: 'Quincy Acy',
  137: 'James Anderson',
  138: 'Marco Belinelli',
  139: 'Caron Butler',
  140: 'Omri Casspi',
  141: 'Willie Cauley-Stein',
  142: 'Darren Collison',
  143: 'DeMarcus Cousins',
  144: 'Seth Curry',
  145: 'Duje Dukan',
  146: 'Rudy Gay',
  147: 'Kosta Koufos',
  148: 'Ben McLemore',
  149: 'Eric Moreland',
  150: 'Rajon Rondo',
  151: 'Cameron Bairstow',
  152: 'Aaron Brooks',
  153: 'Jimmy Butler',
  154: 'Mike Dunleavy',
  155: 'Cristiano Felicio',
  156: 'Pau Gasol',
  157: 'Taj Gibson',
  158: 'Justin Holiday',
  159: 'Doug McDermott',
  160: 'Nikola Mirotic',
  161: "E'Twaun Moore",
  162: 'Joakim Noah',
  163: 'Bobby Portis',
  164: 'Derrick Rose',
  165: 'Tony Snell',
  166: 'Matthew Dellavedova',
  167: 'Channing Frye',
  168: 'Kyrie Irving',
  169: 'LeBron James',
  170: 'Richard Jefferson',
  171: 'Dahntay Jones',
  172: 'James Jones',
  173: 'Sasha Kaun',
  174: 'Kevin Love',
  175: 'Jordan McRae',
  176: 'Timofey Mozgov',
  177: 'Iman Shumpert',
  178: 'J.R. Smith',
  179: 'Tristan Thompson',
  180: 'Mo Williams',
  181: 'Joel Anthony',
  182: 'Aron Baynes',
  183: 'Steve Blake',
  184: 'Lorenzo Brown',
  185: 'Reggie Bullock',
  186: 'Kentavious Caldwell-Pope',
  187: 'Spencer Dinwiddie',
  188: 'Andre Drummond',
  189: 'Tobias Harris',
  190: 'Darrun Hilliard',
  191: 'Reggie Jackson',
  192: 'Stanley Johnson',
  193: 'Jodie Meeks',
  194: 'Marcus Morris',
  195: 'Anthony Tolliver',
  196: 'Lavoy Allen',
  197: 'Rakeem Christmas',
  198: 'Monta Ellis',
  199: 'Paul George',
  200: 'George Hill',
  201: 'Jordan Hill',
  202: 'Solomon Hill',
  203: 'Ty Lawson',
  204: 'Ian Mahinmi',
  205: 'C.J. Miles',
  206: 'Glenn Robinson III',
  207: 'Rodney Stuckey',
  208: 'Myles Turner',
  209: 'Shayne Whittington',
  210: 'Joe Young',
  211: 'Giannis Antetokounmpo',
  212: 'Jerryd Bayless',
  213: 'Michael Carter-Williams',
  214: 'Jared Cunningham',
  215: 'Tyler Ennis',
  216: 'John Henson',
  217: 'Damien Inglis',
  218: 'O.J. Mayo',
  219: 'Khris Middleton',
  220: 'Greg Monroe',
  221: 'Steve Novak',
  222: "Johnny O'Bryant III",
  223: 'Jabari Parker',
  224: 'Miles Plumlee',
  225: 'Greivis Vasquez',
  226: 'Rashad Vaughn',
  227: 'Justin Anderson',
  228: 'J.J. Barea',
  229: 'Jeremy Evans',
  230: 'Raymond Felton',
  231: 'Devin Harris',
  232: 'David Lee',
  233: 'Wesley Matthews',
  234: 'JaVale McGee',
  235: 'Salah Mejri',
  236: 'Dirk Nowitzki',
  237: 'Zaza Pachulia',
  238: 'Chandler Parsons',
  239: 'Dwight Powell',
  240: 'Charlie Villanueva',
  241: 'Deron Williams',
  242: 'Trevor Ariza',
  243: 'Michael Beasley',
  244: 'Patrick Beverley',
  245: 'Corey Brewer',
  246: 'Clint Capela',
  247: 'Sam Dekker',
  248: 'Andrew Goudelock',
  249: 'James Harden',
  250: 'Montrezl Harrell',
  251: 'Dwight Howard',
  252: 'Terrence Jones',
  253: 'K.J. McDaniels',
  254: 'Donatas Motiejunas',
  255: 'Josh Smith',
  256: 'Jason Terry',
  257: 'Jordan Adams',
  258: 'Tony Allen',
  259: 'Chris Andersen',
  260: 'Matt Barnes',
  261: 'Vince Carter',
  262: 'Mike Conley',
  263: 'Bryce Cotton',
  264: 'Jordan Farmar',
  265: 'Marc Gasol',
  266: 'JaMychal Green',
  267: 'P.J. Hairston',
  268: 'Jarell Martin',
  269: 'Ray McCallum',
  270: 'Xavier Munford',
  271: 'Zach Randolph',
  272: 'Lance Stephenson',
  273: 'Alex Stepheson',
  274: 'Brandan Wright',
  275: 'Alexis Ajinca',
  276: 'Ryan Anderson',
  277: 'Omer Asik',
  278: 'Luke Babbitt',
  279: 'Norris Cole',
  280: 'Dante Cunningham',
  281: 'Anthony Davis',
  282: 'Bryce Dejean-Jones',
  283: 'Toney Douglas',
  284: 'James Ennis',
  285: 'Tyreke Evans',
  286: 'Tim Frazier',
  287: 'Alonzo Gee',
  288: 'Eric Gordon',
  289: 'Jordan Hamilton',
  290: 'Jrue Holiday',
  291: 'Orlando Johnson',
  292: 'Kendrick Perkins',
  293: 'Quincy Pondexter',
  294: 'LaMarcus Aldridge',
  295: 'Kyle Anderson',
  296: 'Matt Bonner',
  297: 'Boris Diaw',
  298: 'Tim Duncan',
  299: 'Manu Ginobili',
  300: 'Danny Green',
  301: 'Kawhi Leonard',
  302: 'Boban Marjanovic',
  303: 'Kevin Martin',
  304: 'Andre Miller',
  305: 'Patty Mills',
  306: 'Tony Parker',
  307: 'Jonathon Simmons',
  308: 'David West',
  309: 'Kent Bazemore',
  310: 'Tim Hardaway Jr.',
  311: 'Kirk Hinrich',
  312: 'Al Horford',
  313: 'Kris Humphries',
  314: 'Kyle Korver',
  315: 'Paul Millsap',
  316: 'Mike Muscala',
  317: 'Lamar Patterson',
  318: 'Dennis Schroder',
  319: 'Mike Scott',
  320: 'Thabo Sefolosha',
  321: 'Tiago Splitter',
  322: 'Walter Tavares',
  323: 'Jeff Teague',
  324: 'Nicolas Batum',
  325: 'Troy Daniels',
  326: 'Jorge Gutierrez',
  327: 'Tyler Hansbrough',
  328: 'Aaron Harrison',
  329: 'Spencer Hawes',
  330: 'Al Jefferson',
  331: 'Frank Kaminsky III',
  332: 'Michael Kidd-Gilchrist',
  333: 'Jeremy Lamb',
  334: 'Courtney Lee',
  335: 'Jeremy Lin',
  336: 'Kemba Walker',
  337: 'Marvin Williams',
  338: 'Cody Zeller',
  339: 'Chris Bosh',
  340: 'Luol Deng',
  341: 'Goran Dragic',
  342: 'Gerald Green',
  343: 'Udonis Haslem',
  344: 'Joe Johnson',
  345: 'Tyler Johnson',
  346: 'Josh McRoberts',
  347: 'Josh Richardson',
  348: "Amar'e Stoudemire",
  349: 'Dwyane Wade',
  350: 'Briante Weber',
  351: 'Hassan Whiteside',
  352: 'Justise Winslow',
  353: 'Dorell Wright',
  354: 'Dewayne Dedmon',
  355: 'Evan Fournier',
  356: 'Aaron Gordon',
  357: 'Mario Hezonja',
  358: 'Ersan Ilyasova',
  359: 'Brandon Jennings',
  360: 'Devyn Marble',
  361: 'Shabazz Napier',
  362: 'Andrew Nicholson',
  363: 'Victor Oladipo',
  364: 'Elfrid Payton',
  365: 'Jason Smith',
  366: 'Nikola Vucevic',
  367: 'C.J. Watson',
  368: 'Alan Anderson',
  369: 'Bradley Beal',
  370: 'Jared Dudley',
  371: 'Jarell Eddie',
  372: 'Drew Gooden',
  373: 'Marcin Gortat',
  374: 'JJ Hickson',
  375: 'Nene Hilario',
  376: 'Markieff Morris',
  377: 'Kelly Oubre Jr.',
  378: 'Otto Porter Jr.',
  379: 'Ramon Sessions',
  380: 'Garrett Temple',
  381: 'Marcus Thornton',
  382: 'John Wall',
  383: 'Darrell Arthur',
  384: 'D.J. Augustin',
  385: 'Will Barton',
  386: 'Wilson Chandler',
  387: 'Kenneth Faried',
  388: 'Danilo Gallinari',
  389: 'Gary Harris',
  390: 'Nikola Jokic',
  391: 'Joffrey Lauvergne',
  392: 'Mike Miller',
  393: 'Emmanuel Mudiay',
  394: 'Jameer Nelson',
  395: 'Jusuf Nurkic',
  396: 'JaKarr Sampson',
  397: 'Axel Toupane',
  398: 'Nemanja Bjelica',
  399: 'Gorgui Dieng',
  400: 'Kevin Garnett',
  401: 'Tyus Jones',
  402: 'Zach LaVine',
  403: 'Shabazz Muhammad',
  404: 'Adreian Payne',
  405: 'Nikola Pekovic',
  406: 'Tayshaun Prince',
  407: 'Ricky Rubio',
  408: 'Damjan Rudez',
  409: 'Greg Smith',
  410: 'Karl-Anthony Towns',
  411: 'Andrew Wiggins',
  412: 'Steven Adams',
  413: 'Nick Collison',
  414: 'Kevin Durant',
  415: 'Randy Foye',
  416: 'Josh Huestis',
  417: 'Serge Ibaka',
  418: 'Enes Kanter',
  419: 'Mitch McGary',
  420: 'Nazr Mohammed',
  421: 'Anthony Morrow',
  422: 'Cameron Payne',
  423: 'Andre Roberson',
  424: 'Kyle Singler',
  425: 'Dion Waiters',
  426: 'Russell Westbrook',
  427: 'Cliff Alexander',
  428: 'Al-Farouq Aminu',
  429: 'Pat Connaughton',
  430: 'Allen Crabbe',
  431: 'Ed Davis',
  432: 'Maurice Harkless',
  433: 'Gerald Henderson',
  434: 'Chris Kaman',
  435: 'Meyers Leonard',
  436: 'Damian Lillard',
  437: 'C.J. McCollum',
  438: 'Luis Montero',
  439: 'Mason Plumlee',
  440: 'Brian Roberts',
  441: 'Noah Vonleh',
  442: 'Trevor Booker',
  443: 'Trey Burke',
  444: 'Alec Burks',
  445: 'Dante Exum',
  446: 'Derrick Favors',
  447: 'Rudy Gobert',
  448: 'Gordon Hayward',
  449: 'Rodney Hood',
  450: 'Joe Ingles',
  451: 'Chris Johnson',
  452: 'Trey Lyles',
  453: 'Shelvin Mack',
  454: 'Raul Neto',
  455: 'Tibor Pleiss',
  456: 'Jeff Withey',
  457: nan},
 'Team': {0: 'Boston Celtics',
  1: 'Boston Celtics',
  2: 'Boston Celtics',
  3: 'Boston Celtics',
  4: 'Boston Celtics',
  5: 'Boston Celtics',
  6: 'Boston Celtics',
  7: 'Boston Celtics',
  8: 'Boston Celtics',
  9: 'Boston Celtics',
  10: 'Boston Celtics',
  11: 'Boston Celtics',
  12: 'Boston Celtics',
  13: 'Boston Celtics',
  14: 'Boston Celtics',
  15: 'Brooklyn Nets',
  16: 'Brooklyn Nets',
  17: 'Brooklyn Nets',
  18: 'Brooklyn Nets',
  19: 'Brooklyn Nets',
  20: 'Brooklyn Nets',
  21: 'Brooklyn Nets',
  22: 'Brooklyn Nets',
  23: 'Brooklyn Nets',
  24: 'Brooklyn Nets',
  25: 'Brooklyn Nets',
  26: 'Brooklyn Nets',
  27: 'Brooklyn Nets',
  28: 'Brooklyn Nets',
  29: 'Brooklyn Nets',
  30: 'New York Knicks',
  31: 'New York Knicks',
  32: 'New York Knicks',
  33: 'New York Knicks',
  34: 'New York Knicks',
  35: 'New York Knicks',
  36: 'New York Knicks',
  37: 'New York Knicks',
  38: 'New York Knicks',
  39: 'New York Knicks',
  40: 'New York Knicks',
  41: 'New York Knicks',
  42: 'New York Knicks',
  43: 'New York Knicks',
  44: 'New York Knicks',
  45: 'New York Knicks',
  46: 'Philadelphia 76ers',
  47: 'Philadelphia 76ers',
  48: 'Philadelphia 76ers',
  49: 'Philadelphia 76ers',
  50: 'Philadelphia 76ers',
  51: 'Philadelphia 76ers',
  52: 'Philadelphia 76ers',
  53: 'Philadelphia 76ers',
  54: 'Philadelphia 76ers',
  55: 'Philadelphia 76ers',
  56: 'Philadelphia 76ers',
  57: 'Philadelphia 76ers',
  58: 'Philadelphia 76ers',
  59: 'Philadelphia 76ers',
  60: 'Philadelphia 76ers',
  61: 'Toronto Raptors',
  62: 'Toronto Raptors',
  63: 'Toronto Raptors',
  64: 'Toronto Raptors',
  65: 'Toronto Raptors',
  66: 'Toronto Raptors',
  67: 'Toronto Raptors',
  68: 'Toronto Raptors',
  69: 'Toronto Raptors',
  70: 'Toronto Raptors',
  71: 'Toronto Raptors',
  72: 'Toronto Raptors',
  73: 'Toronto Raptors',
  74: 'Toronto Raptors',
  75: 'Toronto Raptors',
  76: 'Golden State Warriors',
  77: 'Golden State Warriors',
  78: 'Golden State Warriors',
  79: 'Golden State Warriors',
  80: 'Golden State Warriors',
  81: 'Golden State Warriors',
  82: 'Golden State Warriors',
  83: 'Golden State Warriors',
  84: 'Golden State Warriors',
  85: 'Golden State Warriors',
  86: 'Golden State Warriors',
  87: 'Golden State Warriors',
  88: 'Golden State Warriors',
  89: 'Golden State Warriors',
  90: 'Golden State Warriors',
  91: 'Los Angeles Clippers',
  92: 'Los Angeles Clippers',
  93: 'Los Angeles Clippers',
  94: 'Los Angeles Clippers',
  95: 'Los Angeles Clippers',
  96: 'Los Angeles Clippers',
  97: 'Los Angeles Clippers',
  98: 'Los Angeles Clippers',
  99: 'Los Angeles Clippers',
  100: 'Los Angeles Clippers',
  101: 'Los Angeles Clippers',
  102: 'Los Angeles Clippers',
  103: 'Los Angeles Clippers',
  104: 'Los Angeles Clippers',
  105: 'Los Angeles Clippers',
  106: 'Los Angeles Lakers',
  107: 'Los Angeles Lakers',
  108: 'Los Angeles Lakers',
  109: 'Los Angeles Lakers',
  110: 'Los Angeles Lakers',
  111: 'Los Angeles Lakers',
  112: 'Los Angeles Lakers',
  113: 'Los Angeles Lakers',
  114: 'Los Angeles Lakers',
  115: 'Los Angeles Lakers',
  116: 'Los Angeles Lakers',
  117: 'Los Angeles Lakers',
  118: 'Los Angeles Lakers',
  119: 'Los Angeles Lakers',
  120: 'Los Angeles Lakers',
  121: 'Phoenix Suns',
  122: 'Phoenix Suns',
  123: 'Phoenix Suns',
  124: 'Phoenix Suns',
  125: 'Phoenix Suns',
  126: 'Phoenix Suns',
  127: 'Phoenix Suns',
  128: 'Phoenix Suns',
  129: 'Phoenix Suns',
  130: 'Phoenix Suns',
  131: 'Phoenix Suns',
  132: 'Phoenix Suns',
  133: 'Phoenix Suns',
  134: 'Phoenix Suns',
  135: 'Phoenix Suns',
  136: 'Sacramento Kings',
  137: 'Sacramento Kings',
  138: 'Sacramento Kings',
  139: 'Sacramento Kings',
  140: 'Sacramento Kings',
  141: 'Sacramento Kings',
  142: 'Sacramento Kings',
  143: 'Sacramento Kings',
  144: 'Sacramento Kings',
  145: 'Sacramento Kings',
  146: 'Sacramento Kings',
  147: 'Sacramento Kings',
  148: 'Sacramento Kings',
  149: 'Sacramento Kings',
  150: 'Sacramento Kings',
  151: 'Chicago Bulls',
  152: 'Chicago Bulls',
  153: 'Chicago Bulls',
  154: 'Chicago Bulls',
  155: 'Chicago Bulls',
  156: 'Chicago Bulls',
  157: 'Chicago Bulls',
  158: 'Chicago Bulls',
  159: 'Chicago Bulls',
  160: 'Chicago Bulls',
  161: 'Chicago Bulls',
  162: 'Chicago Bulls',
  163: 'Chicago Bulls',
  164: 'Chicago Bulls',
  165: 'Chicago Bulls',
  166: 'Cleveland Cavaliers',
  167: 'Cleveland Cavaliers',
  168: 'Cleveland Cavaliers',
  169: 'Cleveland Cavaliers',
  170: 'Cleveland Cavaliers',
  171: 'Cleveland Cavaliers',
  172: 'Cleveland Cavaliers',
  173: 'Cleveland Cavaliers',
  174: 'Cleveland Cavaliers',
  175: 'Cleveland Cavaliers',
  176: 'Cleveland Cavaliers',
  177: 'Cleveland Cavaliers',
  178: 'Cleveland Cavaliers',
  179: 'Cleveland Cavaliers',
  180: 'Cleveland Cavaliers',
  181: 'Detroit Pistons',
  182: 'Detroit Pistons',
  183: 'Detroit Pistons',
  184: 'Detroit Pistons',
  185: 'Detroit Pistons',
  186: 'Detroit Pistons',
  187: 'Detroit Pistons',
  188: 'Detroit Pistons',
  189: 'Detroit Pistons',
  190: 'Detroit Pistons',
  191: 'Detroit Pistons',
  192: 'Detroit Pistons',
  193: 'Detroit Pistons',
  194: 'Detroit Pistons',
  195: 'Detroit Pistons',
  196: 'Indiana Pacers',
  197: 'Indiana Pacers',
  198: 'Indiana Pacers',
  199: 'Indiana Pacers',
  200: 'Indiana Pacers',
  201: 'Indiana Pacers',
  202: 'Indiana Pacers',
  203: 'Indiana Pacers',
  204: 'Indiana Pacers',
  205: 'Indiana Pacers',
  206: 'Indiana Pacers',
  207: 'Indiana Pacers',
  208: 'Indiana Pacers',
  209: 'Indiana Pacers',
  210: 'Indiana Pacers',
  211: 'Milwaukee Bucks',
  212: 'Milwaukee Bucks',
  213: 'Milwaukee Bucks',
  214: 'Milwaukee Bucks',
  215: 'Milwaukee Bucks',
  216: 'Milwaukee Bucks',
  217: 'Milwaukee Bucks',
  218: 'Milwaukee Bucks',
  219: 'Milwaukee Bucks',
  220: 'Milwaukee Bucks',
  221: 'Milwaukee Bucks',
  222: 'Milwaukee Bucks',
  223: 'Milwaukee Bucks',
  224: 'Milwaukee Bucks',
  225: 'Milwaukee Bucks',
  226: 'Milwaukee Bucks',
  227: 'Dallas Mavericks',
  228: 'Dallas Mavericks',
  229: 'Dallas Mavericks',
  230: 'Dallas Mavericks',
  231: 'Dallas Mavericks',
  232: 'Dallas Mavericks',
  233: 'Dallas Mavericks',
  234: 'Dallas Mavericks',
  235: 'Dallas Mavericks',
  236: 'Dallas Mavericks',
  237: 'Dallas Mavericks',
  238: 'Dallas Mavericks',
  239: 'Dallas Mavericks',
  240: 'Dallas Mavericks',
  241: 'Dallas Mavericks',
  242: 'Houston Rockets',
  243: 'Houston Rockets',
  244: 'Houston Rockets',
  245: 'Houston Rockets',
  246: 'Houston Rockets',
  247: 'Houston Rockets',
  248: 'Houston Rockets',
  249: 'Houston Rockets',
  250: 'Houston Rockets',
  251: 'Houston Rockets',
  252: 'Houston Rockets',
  253: 'Houston Rockets',
  254: 'Houston Rockets',
  255: 'Houston Rockets',
  256: 'Houston Rockets',
  257: 'Memphis Grizzlies',
  258: 'Memphis Grizzlies',
  259: 'Memphis Grizzlies',
  260: 'Memphis Grizzlies',
  261: 'Memphis Grizzlies',
  262: 'Memphis Grizzlies',
  263: 'Memphis Grizzlies',
  264: 'Memphis Grizzlies',
  265: 'Memphis Grizzlies',
  266: 'Memphis Grizzlies',
  267: 'Memphis Grizzlies',
  268: 'Memphis Grizzlies',
  269: 'Memphis Grizzlies',
  270: 'Memphis Grizzlies',
  271: 'Memphis Grizzlies',
  272: 'Memphis Grizzlies',
  273: 'Memphis Grizzlies',
  274: 'Memphis Grizzlies',
  275: 'New Orleans Pelicans',
  276: 'New Orleans Pelicans',
  277: 'New Orleans Pelicans',
  278: 'New Orleans Pelicans',
  279: 'New Orleans Pelicans',
  280: 'New Orleans Pelicans',
  281: 'New Orleans Pelicans',
  282: 'New Orleans Pelicans',
  283: 'New Orleans Pelicans',
  284: 'New Orleans Pelicans',
  285: 'New Orleans Pelicans',
  286: 'New Orleans Pelicans',
  287: 'New Orleans Pelicans',
  288: 'New Orleans Pelicans',
  289: 'New Orleans Pelicans',
  290: 'New Orleans Pelicans',
  291: 'New Orleans Pelicans',
  292: 'New Orleans Pelicans',
  293: 'New Orleans Pelicans',
  294: 'San Antonio Spurs',
  295: 'San Antonio Spurs',
  296: 'San Antonio Spurs',
  297: 'San Antonio Spurs',
  298: 'San Antonio Spurs',
  299: 'San Antonio Spurs',
  300: 'San Antonio Spurs',
  301: 'San Antonio Spurs',
  302: 'San Antonio Spurs',
  303: 'San Antonio Spurs',
  304: 'San Antonio Spurs',
  305: 'San Antonio Spurs',
  306: 'San Antonio Spurs',
  307: 'San Antonio Spurs',
  308: 'San Antonio Spurs',
  309: 'Atlanta Hawks',
  310: 'Atlanta Hawks',
  311: 'Atlanta Hawks',
  312: 'Atlanta Hawks',
  313: 'Atlanta Hawks',
  314: 'Atlanta Hawks',
  315: 'Atlanta Hawks',
  316: 'Atlanta Hawks',
  317: 'Atlanta Hawks',
  318: 'Atlanta Hawks',
  319: 'Atlanta Hawks',
  320: 'Atlanta Hawks',
  321: 'Atlanta Hawks',
  322: 'Atlanta Hawks',
  323: 'Atlanta Hawks',
  324: 'Charlotte Hornets',
  325: 'Charlotte Hornets',
  326: 'Charlotte Hornets',
  327: 'Charlotte Hornets',
  328: 'Charlotte Hornets',
  329: 'Charlotte Hornets',
  330: 'Charlotte Hornets',
  331: 'Charlotte Hornets',
  332: 'Charlotte Hornets',
  333: 'Charlotte Hornets',
  334: 'Charlotte Hornets',
  335: 'Charlotte Hornets',
  336: 'Charlotte Hornets',
  337: 'Charlotte Hornets',
  338: 'Charlotte Hornets',

In [8]:
df.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [9]:
df.values

array([['Avery Bradley', 'Boston Celtics', 0.0, ..., 180.0, 'Texas',
        7730337.0],
       ['Jae Crowder', 'Boston Celtics', 99.0, ..., 235.0, 'Marquette',
        6796117.0],
       ['John Holland', 'Boston Celtics', 30.0, ..., 205.0,
        'Boston University', nan],
       ...,
       ['Tibor Pleiss', 'Utah Jazz', 21.0, ..., 256.0, nan, 2900000.0],
       ['Jeff Withey', 'Utah Jazz', 24.0, ..., 231.0, 'Kansas', 947276.0],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

In [10]:
df.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [11]:
df.shape
# (rows, columns)

(458, 9)

In [12]:
df.index

RangeIndex(start=0, stop=458, step=1)

In [13]:
df = df + df
df.shape

(458, 9)

In [14]:
from numpy import random
np.random.seed(10)
print(np.random.randint(5))
print(np.random.rand(5))
print(np.random.normal())
print(np.arange(20, 50))

1
[0.29876115 0.49458993 0.44301495 0.83191136 0.58332174]
-0.9056104817781895
[20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43
 44 45 46 47 48 49]

In [15]:
pd.DataFrame(np.arange(20,30))

    0
0  20
1  21
2  22
3  23
4  24
5  25
6  26
7  27
8  28
9  29

In [28]:
# Read data from CSV file as DataFrame
df = pd.read_csv('nba.csv', index_col = "Name")
df

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# Top 5 results from the data Frame
df.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [30]:
# Last 5 records from the DataFrame
df.tail()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

# df_dict = df.to_dict()
df_dict

In [17]:

data={"name":["Alice","Bob","Claire"],"Age":[25,30,22],"city":["New York","Los Angeles","Chicago"]}
df=pd.DataFrame(data)
df
df.loc[len(df.index)]=["David",28,"Houston"]
print(df)

     name  Age         city
0   Alice   25     New York
1     Bob   30  Los Angeles
2  Claire   22      Chicago
3   David   28      Houston

In [18]:
# Creating Objects using DataFrame: 

# Create a DataFrame named "nba_df" from the "nba.csv" dataset. 

# Display the first 5 rows of the DataFrame "nba_df".

In [26]:
nba_df = pd.read_csv('nba.csv', index_col = "Name")
nba_df
#newnba_df= nba_df.loc[:,["Age","Weight"]]
#print(newnba_df)
#newnba_df=nba_df.iloc[:,[4,6]]
#newnba_df
rows=nba_df.loc[["John Holland"],["Age"]]
rows

               Age
Name
John Holland  27.0

In [ ]:
#Create a dictionary containing the information of a new NBA player: 

#: 250.0, 'College': 'St. Vincent-St. Mary', 'Salary': 39219565.0}{'Name': 'LeBron James', 'Team': 'Los Angeles Lakers', 'Number': 23.0, 'Position': 'SF', 'Age': 36.0, 'Height': '6-9', 'Weight'

data={'Name': 'LeBron James', 'Team': 'Los Angeles Lakers', 'Number': 23.0, 'Position': 'SF', 'Age': 36.0, 'Height': '6-9', 'Weight': 250.0, 'College': 'St. Vincent-St. Mary', 'Salary': 39219565.0} 
nba_df.loc[len(df.index)]=[data]
nba_df

In [ ]:
#Given the following dictionary: 

data = {'Name': ['John', 'Emily', 'Michael'], 'Age': [23, 29, 35], 'City': ['Boston', 'Seattle', 'San Francisco']} 
df=pd.DataFrame(data)
df

In [ ]:
basketballdata={'Name': 'LeBron James', 'Team': 'Los Angeles Lakers', 'Number': 23.0, 'Position': 'SF', 'Age': 36.0, 'Height': '6-9', 'Weight': 250.0, 'College': 'St. Vincent-St. Mary', 'Salary': 39219565.0}
df.loc[len(df.index)]=["Lebron James",36,"Los Angeles"]
df