In [2]:
import pandas as pd

In [6]:
s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
evens = s[s%2==0]
evens.squeeze()

1    2
3    4
dtype: int64

In [15]:
df = pd.DataFrame([[1,2], [3,4]], columns=['a', 'b'])
df

   a  b
0  1  2
1  3  4

In [21]:
df.squeeze()

   a  b
0  1  2
1  3  4

In [18]:
df_a = df[['a']]
df_a

   a
0  1
1  3

In [22]:
df_a.squeeze()

0    1
1    3
Name: a, dtype: int64

In [27]:
ages_df = pd.read_csv('ages.txt')
ages_df

    Age
0    10
1    30
2    45
3    22
4    67
5    89
6    43
7    66
8    98
9    12
10   19
11   27

In [30]:
ages_series = pd.read_csv('ages.txt', squeeze=True)
ages_series

/var/folders/qy/mr1zcc7s4ks1mf1pkzx_4n8c0000gn/T/ipykernel_13553/3505649737.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  ages_series = pd.read_csv('ages.txt', squeeze=True)

0     10
1     30
2     45
3     22
4     67
5     89
6     43
7     66
8     98
9     12
10    19
11    27
Name: Age, dtype: int64

In [26]:
def get_age_category(age):
    if age < 5:
        return 'infant'
    elif age>=5 and age<=12:
        return 'Kid'
    elif 13 <= age < 20:
        return 'Teenager'
    elif 20<=age<=40:
        return "Young"
    elif 40<age<=60:
        return 'Mid-Aged'
    elif 60<age<=80:
        return "Old"
    elif age>80:
        return "You are about to die in some time"
    else:
        return "Invalid Age"

In [33]:
ages_categories = ages_series.apply(get_age_category)
ages_categories

0                                   Kid
1                                 Young
2                              Mid-Aged
3                                 Young
4                                   Old
5     You are about to die in some time
6                              Mid-Aged
7                                   Old
8     You are about to die in some time
9                                   Kid
10                             Teenager
11                                Young
Name: Age, dtype: object

In [36]:
ages_categories.head(3)

0         Kid
1       Young
2    Mid-Aged
Name: Age, dtype: object

In [38]:
# display the values of the actual age and its category in the dataframe
df = pd.DataFrame({'Age':ages_series, 'Category':ages_categories})
df

    Age                           Category
0    10                                Kid
1    30                              Young
2    45                           Mid-Aged
3    22                              Young
4    67                                Old
5    89  You are about to die in some time
6    43                           Mid-Aged
7    66                                Old
8    98  You are about to die in some time
9    12                                Kid
10   19                           Teenager
11   27                              Young

In [41]:
df = pd.DataFrame({'Category':ages_categories})
df.index = ages_series
df

                              Category
Age
10                                 Kid
30                               Young
45                            Mid-Aged
22                               Young
67                                 Old
89   You are about to die in some time
43                            Mid-Aged
66                                 Old
98   You are about to die in some time
12                                 Kid
19                            Teenager
27                               Young